# Binary files
**/bin

# Build folders
**/build
__pycache__/

# Makefiles
**/Makefile

# MacOS artifacts
.DS_Store

# VS-VSCode config
.vscode/
.vs/

# Project files
*.idb
*.pdb
*.xcworkspace/
**.xcodeproj
*.sln
**.vcxproj*

# Compiled shaders
*.spv

imgui.ini